.panel-cisaw {
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	min-width: 920px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.company-cisaw-table {
	font-size: 14px;
	float: left;
	line-height: 540%;
}

.company-cisaw-label1 {
	color: #B6B6B6;
	font-size: 14px;
	float: left;
	width: 15%;
}

.company-cisaw-label2 {
	font-weight: bold;
	font-size: 14px;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.company-cisaw-line {
	height: 75px;
	line-height: 75px;
}

.company-cisaw-time {
	text-align: center;
	width: 85%;
}

.company-cisaw-img {
	width: 5%;
	margin-left: 30px;
	margin-right: 20px;
	cursor: pointer;
}

.company-cisaw-first {
	color: #26A5B7;
	width: 10%;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.company-cisaw-second {
	width: 15%;
	font-weight: bold;
}

.company-cisaw-third {
	width: 35%;
	font-size: 14px;
}

.company-cisaw-fl {
	float: left;
	margin-right: 20px;
}

.company-cisaw-clbt {
	clear: both;
}

.company-cisaw-line {
	border-top: 1px solid #e5e5e5;
}

.company-cisaw-input {
	width: 300px;
	padding-left: 25px;
	margin-bottom: 10px;
}

.btn-cisaw-warning {
	color: white;
	background-color: #E93B1F;
}

.btn-group button {
	border: 1px solid #DCDCDC;
	border-right: none;
	padding-left: 25px;
	padding-right: 25px;
}

/* 按钮组按钮正常的样式 */
.normal-button{
	background : #FFFFFF;
	color : black;
    transition: opacity 0s ,linear background 0s;
}
/* 点击过后的按钮样式 */
.clicked-button{
	color : #FFFFFF!important;
}
.normal-button:hover{
	opacity:.5;
}
.last-button {
	border-right: 1px solid #ccc !important;
}

.btn-group #bad-info {
	border-right: 1px solid #ccc;
}

.cisw-operate-bak {
	margin-left: 4px;
}

.company-cisw-warning {
	margin: 100px auto;
	width: 550px;
	text-align: center;
}

.company-cisw-warning>div {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #B6DFF5;
}

.company-cisw-warning .text {
	font-size: 37px;
	margin-left: 28px;
}

.company-cisw-warning .icon {
	font-size: 40px;
	font-weight: 500;
	vertical-align: -4px;
	color: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	background-color: rgba(182, 223, 245, 0.86);
	border-radius: 8px;
}

.black-info-dialog .modal-dialog {
	width: 670px;
}

.black-info-dialog .modal-body {
	height: 455px;
}

.toux-info-dialog .modal-dialog {
	width: 685px;
}

.toux-info-dialog .modal-body {
	height: 403px;
}

.company-cisaw-img:hover{
	-webkit-animation: rotateIn 1s .1s ease alternate;
	-moz-animation: rotateIn 1s .1s ease both;
}
@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(40deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes rotateIn {
	0% {
		-moz-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(40deg);
	}
	100% {
		-webkit-transform: rotate(0);
	}
}

