fieldset{
	height:20px;
	margin:40px 0px;
}

.minback {
	min-width: 1024px;
	min-height: 550px;
	height: auto;
}

.div-select{
	width: 185px;
  	float: left;
  	height: 28px;
}

.lineborder {
	border-bottom: 1px solid #E5E5E5;
}

.pos {
	margin: 10px 10px 0 0;
}

.norecords {
	text-align: center
}

.ui-jqgrid-bdiv {
	overflow-x:hidden!important;
}

.ui-jqgrid-view {
	overflow-x:hidden!important;
}

.dim-list {
	margin: 25px 15px 20px 20px;
	min-width: 1024px;
}

.minback .mybtn{
	width:81px;
	height:36px;
}

.minback .my-button{
	margin-right:140px; 
    float:right;	
}
.minback .search-button{
	margin-right:136px; 
}

.minback .my-text{
	width:15%; 
}

.minback .my-label{
	width:9%; 
}

.minback .my-label ,.minback .my-text{
	text-align:right;
	float:left;
}