.data-view-grid { 
	margin: -8px -15px 0 -15px;
	padding-top: 25px;
	padding-left: 34px;
	width: auto;
	height: auto;
	min-height: 615px;
	text-align: center;
	background: #FFF;
}
.table-align { 
	text-align: left; 
	width: 98%;
}
.table-title {
	width: 150px;
    background-color: #F5F5F5;
}
.wrap-line {
	word-break: break-all;
}
.data-view-grid .data-grid-info {
	margin-top: 10px;
	width: 98.3%;
}
.ui-jqgrid-view {
	overflow-x:hidden !important;
}
.oper-pane {
  width: 98%;
  margin: -11px;
  padding: 0px 0px 9px 0;
}

.oper-pane>li {
	list-style-type: none;
	width: 90%;
	margin: auto !important;
	padding: 0;
	text-align: right;
}

.oper-pane>li>div {
	display: inline-block;
	width: 100px;
}

.button-class {
	width: 90px;
}