.form-horizontal { margin-top: 25px; }
.form-horizontal .form-group {
	margin-bottom:10px ;
	width: 750px;
	
}
.form-group .label-left{
	width: 140px;
	text-align:right;
	float: left;
}
.form-group .div-left {
	float: left;
	width: 348px;
}
.form-group .div-left .lable-v{
	font-size: 13px;
    padding-top: 2px;
    white-space:nowrap; 
	text-overflow:ellipsis; 
	overflow: hidden;
}
.bottom-buttons {
	margin-top: 51px;
	width: auto;
	height: 70px;
	background: #F5F5F5;
}
.bottom-buttons button {
	margin-right: 20px;
	margin-top: 15px;
	float: right;
	width: 80px;
}
#dataSource {
	padding-top: 9px;
}
.db-type-span {
	margin-left: 16px;
}
.db-type-pic {
	height: 130px;
}
.db-type-project {
	height: 70px;
}
.db-type-soon {
	height: 130px;
}
.db-type-border {
	margin-top: 10px;
	margin-left: 20px;
	padding-top: 12px;
    float: left;
    height: 100px;
    width: 100px;
    border: 1px solid #E9E9E9;
    cursor: pointer;
}
.dbCheck{
	float: right;
    width: 20px;
    height: 20px;
    background: rgba(23,153,236,0.65);
    color: #fff;
    text-align: center;
}
.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
#dbInfo .col-xs-3 .icon-div{
	width:100px;
	height:100px;
	border:1px solid rgb(233,233,233);
	margin:42px 20px;
}