#dataInfoPanel{
	margin: 5px;
	background: #fff;
}
#dataInfoPanel .dataInfo {
	margin-bottom: 1px;
}
#dataInfoPanel .dataInfo >table{
	width: 100%;
	table-layout: fixed;
　　word-wrap:break-word;
	border-collapse:collapse;
}
#dataInfoPanel .dataInfo >table td{
	border:1px solid #D7D7D7;padding:5px 10px;font-size: 12px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#dataInfoPanel .dataInfo >table td:nth-child(1),#dataInfoPanel .dataInfo >table td:nth-child(3){
	width: 120px;
	background: #F5F5F5;
}