#operaPanel {
	padding-left: 22px;
	width: 100%;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #DDDDDD;
	background: #FAFAFA;
	color: #4F4F4F;
	font-weight: bolder;
	z-index: 99999;
}
#operaPanel .setting{
	display: inline-block;
	color: #4D83B9;
	margin: 0 1px;
	font-size: 14px;
}
#operaPanel .operaButtonPanel{
	position: absolute;
	display: inline-block;
	right: 10px;
	top:2px;
	width:300px;
	height: 25px;
}
.operaButtonPanel >div{
	float: right;
	margin-left: 5px;
}
.operaDownBotton{
	position: relative;
	width:70px;
	height: 22px;
	line-height: 22px;
	color:#fff;
	background: #00BDEF;
	border-radius: 0px;
	text-align: center;
	margin-top: -1px;
	letter-spacing: 2px;
	border: 1px solid #4CA8E4;
	cursor: pointer;
	transition: background-color .3s ease
}

/* .operaDownBotton:hover{ */
/* 	background: #3DC3FF; */
/* } */
/* .operaDownBotton:active{ */
/* 	background: #00B0FF; */
/* } */
/* .operaDownBotton >div:before{ */
/* 	position: absolute; */
/* 	display: inline-block; */
/* 	margin-left: -20px; */
/* 	margin-top: 1px; */
/* 	content: ''; */
/* 	width: 18px; */
/* 	height: 17px; */
/* 	background: url(../../img/view/view_icon.png) -35px -13px no-repeat */
/* } */

.operaDownBottonEx {
position: absolute;
width: 120px;
height: 3em;
line-height: 3em;
font-size: 14px;
color: #fff;
border-radius: 1.5em;
text-align: center;
margin-top: -1px;
letter-spacing: 8px;
border: 1px solid ##0fa3e8;
cursor: pointer;
transition: background-color .3s ease;
top: 38px;
left: 45%;
padding-left:14px;
background-color: #0fa3e8;
}

.operaDownBottonEx::after{
	content: "";
	display: block;
	position: absolute;
	height: 20px;
	width: 20px;
	left: 15px;
	top: 11px;
	background:url(../../img/view/downLoad-Email.png) 3px 2px no-repeat;
}

.operaDownBottonEx:hover {
box-shadow: 0 0 10px #1eaff3; 
}

.operaEmailBottonEx{
	position: absolute;
	width: 120px;
	height: 3em;
	line-height: 3em;
	font-size: 14px;
	color: #2B3D4F;
	border-radius: 1.5em;
	text-align: center;
	margin-top: -1px;
	word-spacing: 8px;
	border: 1px solid #2B3D4F;
	cursor: pointer;
	transition: background-color .3s ease;
	top:38px;
	left:86%;
	padding-left:14px;
}
.operaEmailBottonEx:hover {
box-shadow: 0 0 10px rgba(0,0,0,.8);
color: #1eaff3;
border: 1px solid #1eaff3;
}
.operaEmailBottonEx::after{
	content: "";
	display: block;
	position: absolute;
	height: 20px;
	width: 20px;
	left: 15px;
	top: 11px;
	background:url(../../img/view/downLoad-Email.png) -18px 2px no-repeat;
}
.operaEmailBottonEx:hover::after{
	background:url(../../img/view/downLoad-Email.png) -41px 2px no-repeat;
	
}