.container {
	position: relative;
	display: inline-block; 
	width: 319px;
	height: 239px;
	background: rgba(255,255,255,0.6);
	border: 1px solid rgba(170, 170, 170,.99);
	box-sizing: content-box;
	/* border-radius: 360px; */
}
.container.editor-container{
	overflow:visible;
}
.container .exp {
	position: absolute;
	font-size: 170px;
	left: 53px;
	top: -28px;
}
.container.placeholder {
	border-style: dashed;
}
/*shaojs 20160728 确保图表重叠时有红色边框提示,加上important*/
.container-error {
	box-shadow: 0 0px 4px #D81831 !important;
	border-color: #D81831 !important;
	transition: box-shadow .3s ease;
}
.container .tools {
	position: absolute;
	right: 0;
	overflow: hidden;
	z-index: 9999;
}
.container .breadcrumbs{
	display: none;
	position: absolute;
    height: 30px;
    /* width: 90px; */
    line-height: 30px;
    padding: 0 15px 0 10px;
    border: 1px rgb(170, 170, 170) solid;
    background-color: #fff;
    margin: 15px;
    font-size: 14px;
    z-index: 9999;
}
.container .breadcrumbs::after,
.container .breadcrumbs::before{
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.container .breadcrumbs::after {
	border-left-color: #fff;
	border-width: 14px;
	margin-top: -14px;
}
.container .breadcrumbs::before {
	border-left-color: rgb(170, 170, 170);
	border-width: 15px;
	margin-top: -15px;
}
.container .breadcrumbs>a{
	text-decoration: none;
	color: inherit;
}
.container .breadcrumbs>a:last-child{
	color: #4B9CF0;
}
.container .breadcrumbs>a:hover,
.container .breadcrumbs>a:active{
	color: #A6E22E;
}
.container .breadcrumbs>span{
	padding: 0 8px;
	color: inherit;
}
.container .tools .chart-icon {
	position: relative;
	right: -40px;
	/*left:-40px*/
}
.container .chart-icon {
	margin: 5px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0px 1px 3px #cbcbcb;
	background: rgba(255, 255, 255, .7);
	color: #4298EF;
}
.container .chart-icon.del {
	color: #de966b;
}
.container .chart-icon.checked {
    color: #d73c2b;
}
.container .iconfont.icon-dim {
	top: 6px;
	left: 6px;
	font-size: 12px;
}
.container .chart-icon:hover {
	background: #7EBFFF;
	color: #FFF;
}
.container .exp {
	color: #d2e3ec;
}
.container .chart-icon i {
	position: absolute;
	top: 2px;
	left: 6px;
	cursor: pointer;
	font-size: 19px;
}
.container .chart-icon:nth-child(1) {
	transition: right .1s linear
}
.container .chart-icon:nth-child(2) {
	transition: right .2s linear
}
.container .chart-icon:nth-child(3) {
	transition: right .3s linear
}
.container .chart-icon:nth-child(4) {
	transition: right .4s linear
}
.container .chart-icon:nth-child(5) {
	transition: right .5s linear
}
.container .chart-icon:nth-child(6) {
    transition: right .6s linear
}
.container .chart-icon:nth-child(7) {
    transition: right .7s linear
}
.container .chart-icon:nth-child(8) {
    transition: right .8s linear
}
.container:hover .chart-icon {
	right: 0px;
	/*left:0*/
}
/*指标卡组件容器背景色默认蓝绿色、字体白色 gaoya 20161208*/
.container.indicator-container{
	color:#fff;
	background:rgb(74, 197, 213);
}
/*指标卡组件工具栏样式更改 gaoya 20161117*/
/*.container.indicator-container .tools{
	left:0!important;
}
.container.indicator-container .chart-icon{
	display:inline-block;
	top:-40px;
}
.container.indicator-container:hover .chart-icon{
	top:0px;
	transition-property:top;
}*/
/*单指标卡container的样式*/
.indiSingle{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	width:100%;
	height:100%;
	position:relative;
}
.indiSingle .indiSingle-val{
	/*position:absolute;
	left:20%;
	top:15%;*/
	font-size:36px;
}
.indiSingle .indiSingle-content{
	/*position:absolute;
	left:20%;
	top:55%;*/
	font-size: 18px;
}
/*两个指标卡container样式*/
.indiTwo{
	width:100%;
	height:100%;
	position: relative;
	text-align:center;
}
.indiTwo-top{
	width:90%;
	margin:0 auto;
	position:absolute;
	left:5%;
	top:10%;
}
.indiTwo-topname{
	width:100%;
	/*font-size:16px;
	height:31px;*/
	line-height:16px;
	margin:0 auto;
	padding:5px 0 10px 0;
}
.indiTwo-topval{
	width:100%;
	font-size:24px;
	border-top:2px dotted #fff;
}
.indiTwo-topval p{
	width:100px;
	margin:0 auto;
}
.indiTwo-bottom{
	position:absolute;
	bottom:0;
	width:100%;
	height:50px;
	line-height:25px;
	font-size:16px;
	opacity: 1.0;
}
.indiTwo-bottom li{
	list-style: disc inside;
	width:100%;
	margin:0 auto;
}
.indiTwo-bottom li>span{
	display:inline-block;
	height:50px;
	line-height:50px;
	margin:0 5px;
	overflow:hidden;
	vertical-align: middle;
	text-align:left;
}
.indiTwo-bottom li>span:nth-child(1){
	width:70%
}
/*三个指标的container样式*/
.indiThree{
	width:80%;
	height:100%;
	position: relative;
	margin:0 auto;
}
.indiThree-top{
	position:absolute;
	left:10%;
	top:5%;
}
.indiThree p{
	height:35px;
	line-height:35px;
	overflow:hidden;
}
.indiThree-middle{
	width:100%;
	position:absolute;
	bottom:25%;
}
.indiThree-bottom{
	width:100%;
	position: absolute;
	bottom:5%;
}
.indiThree-middle p:nth-child(1),.indiThree-bottom p:nth-child(1){
	width:70%;

	position:absolute;
	left:5%;
	bottom:5%;
}
.indiThree-middle p:nth-child(2),.indiThree-bottom p:nth-child(2){
	position:absolute;
	right:10%;
	bottom:5%;
}

/*四个指标的container样式*/
.indiFour{
	width:100%;
	height:100%;
	position:relative;
}
.indiFour-top{
	width:100%;
	position:absolute;
	left:10%;
	top:5%;
}
.indiFour-top,.indiFour-topval{
	/*overflow:hidden;*/
}
.indiFour-topname>p{
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
.indiFour-topval p:nth-child(1){
	float:left;
	font-size:26px;
}
.indiFour-topval p:nth-child(2){
	width:160px;
	font-size:14px;
	position:absolute;
	/*bottom:13%;*/
	right:10%;
}
.indiFour-topval p:nth-child(2)>span{
	display:inline-block;
	width:145px;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.indiFour-middle,.indiFour-bottom{
	position:absolute;
	width:100%;
	font-size: 16px;
}
.indiFour-middle{
	bottom:25%;
}
.indiFour-bottom{
	bottom:5%;
}
.indiFour-middle p:nth-child(1), .indiFour-bottom p:nth-child(1){
	width: 70%;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	position: absolute;
	left: 10%;
	bottom: 5%
}
.indiFour-middle p:nth-child(2),.indiFour-bottom p:nth-child(2){
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	position: absolute;
	right: 10%;
	bottom: 5%;
}

.container .chart,.container .indicator-display {
	position: absolute;
	width: 100%;
	height: 100%;
	display:table;
/* 	z-index:99; */
}

/*overwrite table*/
.container table {
    border-collapse: collapse;
}

.chart-i-panel {
	position: absolute;
	/* width: auto; */
	/* height: auto; */
	/* margin-left: 77px; */
	/* margin-top: 26px; */
}
.chart-i-panel >i {
	font-size: 139px;
	color: rgb(197, 226, 255);
	/* transform: scale(1.6); */
}
#tableChartPanel .ui-resizable-handle {
	z-index: inherit!important;
}
#tableChartPanel .ui-start-active-zindex {
	z-index: 9999;
}
.dataview .grid-bg {
	box-sizing: content-box;
	width: 100%;
	height: 3000px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*background: url(../../img/view/view_grid_bg.png);*/
	background-image: linear-gradient(0deg,transparent 9.5px,#ececec 9.5px,#ececec 10.5px,transparent 10.5px,transparent 0),linear-gradient(90deg,transparent 9.5px,#ececec 9.5px,#ececec 10.5px,transparent 10.5px,transparent 0);
    background-size: 20px 20px;
}
.dataview  .no-bg {
	background: #FFFFFF!important;
}
#tableChartPanel .dargPanel-warning {
	box-shadow: 0px 0px 5px #FAC450 inset;
	transition: box-shadow .3s ease;
}
#tableChartPanel .dargPanel-error {
	box-shadow: 0px 0px 5px #D81831 inset;
}
.dimAttrSettingPanel {
	position: absolute;
	width: 30%;
	height: 100%;
	border-right: 1px solid #0072B5;
	min-width: 160px;
	max-width: 300px;
	z-index: 9999;
}
.dimAttrSettingPanel >div {
	width: 100%;
	position: absolute;
}
.dimAttrSettingPanel .fieldTitle {
	padding-left: 10px;
	width: 100%;
	height: 24px;
	line-height: 24px;
	background: rgb(33, 132, 190);
	letter-spacing: 1px;
	cursor: pointer;
	color: #FFF

}
.dimAttrSettingPanel .attrTitle {
	top: 50%;
}
.dimAttrSettingPanel .attrPanel,
.dimAttrSettingPanel .dimPanel,
.dimAttrSettingPanel .graphPanel,
.dimAttrSettingPanel .rowsDimPanel,
.dimAttrSettingPanel .colsDimPanel,
.dimAttrSettingPanel .attrFuncPanel{
	background: rgba(33, 130, 187, 0.73);
	color: #fff;
	overflow: hidden!important;
}
.dimAttrSettingPanel .dimPanel {
	top: 24px;
	bottom: 50%;
	overflow: auto;
}
.dimAttrSettingPanel .attrPanel {
	top: 50%;
	bottom: 0;
	margin-top: 24px;
	overflow: auto;
}
.dimAttrSettingPanel .dimAttrField {
	position:relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: none;
	cursor: pointer;
}
.dimAttrSettingPanel .dimAttrField:hover {
	background: rgba(21, 45, 99, 0.41);
}

.dimAttrSettingPanel .attrDimText {
	padding-left: 24px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dimAttrSettingPanel .attrDimText::before{
	content: '';
	position: absolute;
	top: 6px;
	left: 2px;
	width: 18px;
	height: 17px;
	background: url(../../img/view/view_icon.png) -68px -12px no-repeat;
}
.dimAttrSettingPanel .attrDimText.checked::before{
	background: url(../../img/view/view_icon.png) -51px -12px no-repeat;
}

.dimAttrSettingPanel.gaugePanel .dimPanel{
	display: none;
}
.dimAttrSettingPanel.gaugePanel .dimTitle{
	display: none;
}
.dimAttrSettingPanel.gaugePanel .attrTitle{
	top: 0;
}
.dimAttrSettingPanel.gaugePanel .attrPanel{
	top: 0;
}

/*表格小面板  多维柱图维度指标面板处理*/
/****新增维度、指标的新class样式：graphTitle、graphPanel、addDimPanel、addAttrTitle、addAttrPanel***/

/*行维度*/
.dimAttrSettingPanel .rowsDimTitle{

}
.dimAttrSettingPanel .rowsDimPanel,.dimAttrSettingPanel .addDimPanel{
	top: 24px;!important;
	bottom: 70%;
}

/*列维度*/
.dimAttrSettingPanel .colsDimTitle,.dimAttrSettingPanel .graphTitle{
	top:30%;!important;
}
.dimAttrSettingPanel .colsDimPanel,.dimAttrSettingPanel .graphPanel{
	margin-top: 24px;
	top: 30%;!important;
	bottom: 37%;!important;
	overflow: auto;
}

/*指标函数*/
.dimAttrSettingPanel .attrFuncTitle,.dimAttrSettingPanel .addAttrTitle{
	top: 63%;!important;
}
.dimAttrSettingPanel .attrFuncPanel,.dimAttrSettingPanel .addAttrPanel{
	margin-top: 24px;
	top: 63%;!important;
	bottom: 0;
}

.dimAttrSettingPanel .table-item-placeholder{
	height:30px;
	line-height: 30px;
	border:1px dashed rgba(250, 250, 250, 0.57);
	background: rgba(20, 243, 111, 0.54);
}

.dimAttrSettingPanel .applyTable{
	display: inline-block;
	vertical-align:top;
	float: right;
	padding: 0 3px;
	border-left: 1px solid rgba(149, 184, 231, 0.79);
}

.container .changePanel {
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
}
.container .changePanel >div {
	position: relative;
	float: left;
	width: 26%;
	margin: 10px 9px;
	height: 40%;
	text-align: center;
	border: 1px solid transparent;
	cursor: pointer;
	display: table
}
.container .changePanel>div:hover {
	border-color: #fff;
	border-radius: 3px;
}
.container .changePanel >div i {
	position: absolute;
	font-size: 45px;
	top: 2px;
	left: 6px;
	color: #F1EFEA;
}

.container .changePanel .change-btn {
	width: 100%;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	transition:background .3s ease;
}
.container .changePanel .change-btn:hover{
	background: rgba(19, 85, 150, 0.71);
	border-radius: 3px;
}
.container .changePanel .change-btn .text{
	display: none;
	opacity: 0;
	letter-spacing: 2px;
	transition:opacity .3s ease;
}
.container .changePanel .change-btn:hover  .text{
	letter-spacing: 2px;
	display: block;
	opacity: 1;
}
.container  .noData{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 50px;
	line-height: 50px;
	letter-spacing: 2px;
	margin-left: -75px;
	margin-top: -25px;
	font-size: 29px;
	color: rgb(255, 255, 255);
	background: rgba(105,102,102,.45);
	text-align: center;
	border-radius: 5px;
}

.screenClass{
	position : fixed;
	background : #fff;
	z-index  :  9999;
}

.screenCapture{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	animation: disappear .6s  ;
	-webkit-animation: disappear .6s ;
	animation-fill-mode : forwards ;
	-webkit-animation-fill-mode : forwards ;
}

@-webkit-keyframes disappear{
	0%{ opacity :.98 }
	90%{ opacity :.8 }
	100%{ opacity : .6;}
}

.screen-img{
	width:80%;
	height:80%;
	border: 1px solid rgba(80, 157, 193, 0.28);
	animation: screenS 1.5s ;
	-webkit-animation: screenS 1.5s ;
	animation-fill-mode : forwards ;
	-webkit-animation-fill-mode : forwards ;
}

 @-webkit-keyframes screenS{
	0%{
	    transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    bottom:10%;
	    opacity : .6;
	  }
	30%{
		transform: rotate(0deg) scale(.9);
	    -webkit-transform: rotate(0deg) scale(.9);
	    left:10%;
	    bottom:10%;
	    opacity : .8;
	  }
    100%{
        transform: rotate(-360deg) scale(.2);
	    -webkit-transform: rotate(-360deg) scale(.2) ;
	    bottom:-30%;
	    left:-30%;
	    opacity : 1;
	    border-radius:10px;
	 	background:rgba(255, 255, 255, 0.44);
	 	border:7px solid rgba(51, 187, 238, 0.65)
    }
}

.load {
	position: absolute;
	width: 32px;
	top: 50%;
	height: 32px;
	z-index: 99999;
	overflow: hidden;
	left:50%;
	-webkit-transform:scale(8);
}

.load img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 32px;
	height: 96px;
	-webkit-animation: play .4s steps(1) infinite;
}

.datagrid-view2 .nicescroll-rails-vr {
	width: 5px!important;
}
.datagrid-view2>div.datagrid-body {
	/* overflow: hidden; */
}
.container .datagrid-header,.container  .datagrid-td-rownumber{
	background:#F5F5F5
}
.container .datagrid-header td,
.container .datagrid-body td,
.container .datagrid-footer td{
    border: 1px solid #D7D7D7;
}

.container  .panel-body{
	background: none;
}

.container  .datagrid-footer td{
	border-bottom:none
}

.container .panel-header{
	background: #F5F5F5;
}

.container .panel-header, .container .panel-body{
	border-color:#D7D7D7
}

.container .datagrid-ftable .datagrid-cell-c1-A0{
/* 	text-align: right!important; */
}
.container.ui-resizable-resizing{
/* 	background: rgba(224, 236, 255, 0.6); */
}
.container.ui-resizable-resizing .panel.datagrid{
/* 	visibility:hidden; */
}
.container .panel.datagrid{
/* 	visibility:visible */
}
.container .panel .datagrid-htable .datagrid-cell {
	text-align: center!important;
}
.container .l-btn-left .l-btn-empty{
	width:11px;
}
.container .datagrid-pager td:last-child{
	display:none
}

.container .tableError{
	line-height:30px;
	font-size: 14px;
}

@-webkit-keyframes play {
	0%, 6%{ -webkit-transform: translateX(0px) translateY(0px) rotate(0deg); }
    8.5%, 14.5%{ -webkit-transform: translateX(0px) translateY(-33.3%) rotate(0deg);  }
    17%, 23%{-webkit-transform: translateX(0px) translateY(-66.6%) rotate(0deg); }
    25.5%, 31.5%{ -webkit-transform: translateX(-100%) translateY(-33.3%) rotate(90deg); }
    34%, 40%{ -webkit-transform: translateX(0px) translateY(-33.3%) rotate(90deg); }
    42.5%, 48.5%{ -webkit-transform: translateX(100%) translateY(-33.3%) rotate(90deg); }
    51%, 57%{  -webkit-transform: translateX(0px) translateY(-66.6%) rotate(180deg); }
    59.5%, 65.5%{  -webkit-transform: translateX(0px) translateY(-33.3%) rotate(180deg); }
    68%, 74%{  -webkit-transform: translateX(0px) translateY(0px) rotate(180deg);  }
    76.5%, 82.5%{ -webkit-transform: translateX(100%) translateY(-33.3%) rotate(270deg); }
    85%, 91%{  -webkit-transform: translateX(0px) translateY(-33.3%) rotate(270deg); }
    93.5%, 100%{ -webkit-transform: translateX(-100%) translateY(-33.3%) rotate(270deg); }
}

.actGotop{
	position:fixed;
	_position:absolute;
	bottom:30px;
	right:30px;
	width:46px;
	height:100px;
	display:none;
	opacity: 0.8;
	overflow: hidden;
}
.actGotop a{
	position: absolute;
	width:150px;
    height:100px;
    background:url(../../../myreport/img/gotop.png) no-repeat;
}

.actGotop:hover a{
	animation: gotop .3s steps(1) infinite;
	-webkit-animation: gotop .3s steps(1) infinite;
}

@-webkit-keyframes gotop{
	0%{
	   -webkit-transform: translateX(-46px) ;
	   transform: translateX(-46px) ;
	}
	33.3%{
	   -webkit-transform: translateX(0px) ;
	   transform: translateX(0px) ;
	}
	66.6%{
	   -webkit-transform: translateX(-92px) ;
	   transform: translateX(-92px) ;
	}
	100%{
	   -webkit-transform: translateX(-46px) ;
	   transform: translateX(-46px) ;
	}
}
/***************文本编辑器样式****************/
#tableChartPanel .container .chart.text{
	padding-top:15px;
}
.editor-container.container{
	width:600px;
	height:100px;
}
.chart.text .text-editor.edui-body-container ul{
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.chart.text .text-editor.edui-body-container ol{
	display: block;
	list-style-type: decimal;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

/****新增：url路径导航条的样式 add by gaoya 20160914*****/
#layout_body_url_panel{/*url导航条总样式*/
	width:100%;
	height:29px;
	background:#fff;
	border-top:2px solid #ddd;
	border-bottom:2px solid #ddd;
	line-height:25px;
	position:absolute;
	bottom:0;
	right:0;
}
#layout_body_url_panel a{
    color:#4F4F4F;
}
#urlPanel{/*导航条向左浮动  要改 js生成*/
	/*float:left;*/
}
#setUrlPath{/*文字"设置"样式*/
	width:5%;
	height:25px;
	text-align:center;
	border-left:1px solid #ddd;
	background:#fff;
	float:right;
}
#setUrlPath:hover{
	cursor:pointer;
}
#urlPanel{
	width:95%;
}

.urlPaths{
    width:180px;
    border-right:2px solid #ddd;
    float:left;
    position:relative;
}
.urlpaths_name{
    width:80px;
    height:25px;
    margin:0 auto;
}
/*url菜单左对齐、右对齐;平铺采用左对齐、改变宽度的方式*/
.urlpaths_name_left{
	float:left;
}
.urlpaths_name_right{
	float:right;
}
.url_fa{
    margin:0 10px;
}
/*url下拉菜单样式*/
ul.urlmenus{
    width:120px;
    text-align:center;
    border:1px solid #0271ab;
    border-radius:5px;
    background:#fff;
	display:none;
    position:absolute;
    bottom:35px;
    left:15%;
}
ul.urlmenus.active{
	display:block;
}
ul.urlmenus::before{
    content:"";
    width:0;
    height:0;
    border:solid 10px;
    border-color:#0271ab transparent transparent transparent;
    position:absolute;
    bottom:-21px;
    left:45px;
}
ul.urlmenus::after{
    content:"";
    width:0;
    height:0;
    border:solid 10px;
    border-color:#fff transparent transparent transparent;
    position:absolute;
    bottom:-20px;
    left:45px;
}
ul.urlmenus li.urlmenulist{/*每一条url的总样式*/
    width:110px;
    height:35px;
    margin-left:4px;
    text-align:left;
    line-height:35px;
    border-top: 1px solid #0271ab;
}
ul.urlmenus li.urlmenulist:nth-child(1){
    border-top:none;
}
ul.urlmenus li.urlmenulist:hover{
    background:#E3F1F6;
    pointer:cursor;
}
ul.urlmenus li.urlmenulist .urlpicture{
    display:inline-block;
    vertical-align: middle;
    width:25px;
    height:25px;
    margin:5px 10px;
	/*background:url(../../img/view/view_tabs.png) -538px -6px no-repeat;*/
}
/********urlsetting弹出框样式 add by gaoya 20160919*********/
#urlSettingsPanel{
	width:100%;
	height:100%;
}
.urlSetting{
	/*border:1px solid #000;*/
	/*text-align:center;*/
	padding-left:221px;
	width:100%;
	height:100%;
}
.urlSetting h2{
    font-weight:normal;
    line-height:60px;
    text-align:center;
}
/*两个添加按钮样式*/
.urlSetting a.urladdclicktab{
    color:#8E8E8E;
    font-weight:bold;
    font-size:20px;
	display:block;
	width:30px;
	height:30px;
    border:1px solid #8E8E8E;
    background:#fff;
	text-align:center;
	line-height:30px;
	border-radius:50%;
    margin-left:20px;
}
/*左侧url导航名称样式*/
.url_name{
	width: 220px;
	height:100%;
	border-right:1px solid #E8E8E8;
	position:absolute;
	left:0;
	top:0;
	background:#f8f8f8;
}

/*button样式*/
.url-btn-group{
	hight:60px;
    padding:5px 0 0 20px;
    text-align:center;
    border:1px solid #E8E8E8;
    border-left:none;
    border-right:none;
}
.url-btn-group::after{
    content:"";
    display:inline-block;
    clear:both;
    height:30px;
}
.url-btn-group>div{
	float:left;
    width:60px;
    height:30px;
    line-height:30px;
	background:#fff;
    border:1px solid #E8E8E8;
    border-left:none;
}
.url-btn-group>div:hover{
    pointer:cursor;
}
.url-btn-group>div.active{
	background:#57c5f7;
}
.url-btn-group>div.active a{
	color:#fff;
}
.url-btn-group #url-btn-left{
    border-left:1px solid #E8E8E8;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.url-btn-group #url-btn-right{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
/*左侧详细自定义的url名称列表*/
.url-name-define{
    height:240px;
}
.url-name-define>div{
	width:100%;
	height:60px;
    line-height:60px;
	/*padding:5px 0;*/
}
.url-name-define>div.active{
	background:#D0E5EA;/*左侧input选中之后，input外层div背景色改变*/
}
/*url设置面板上input框总样式*/
.url_input{
    padding: 0 5px;
    border: 1px solid #77b1d6;
    border-radius: 3px;
    color: #4F4F4F;
    outline: none;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}
.url_input:focus{
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
/*左侧input框样式*/
.url_name_input{
    width: 180px;
    margin-left:20px;
    height: 30px;
    line-height: 30px;
}

/*左侧左下角备注文字的样式*/
.url_name>p{
	color:#77b1d6;
	position:absolute;
	bottom:10px;
	left:10px;
}

/*右侧url设置样式*/
.url_path{
    width: 100%;
	height:100%;
	background:#fff;
}
.url_path_title{
    height:42px;
    line-height:42px;
    /*padding:5px 0 0 20px;*/
    text-align:center;
    border-top:1px solid #E8E8E8;
    border-bottom:1px dashed #E8E8E8;
}
.url_path_title::after{
    content:"";
    display:inline-block;
    height:40px;
    clear:both;
}
.url_path_content{
    width:100%;
	text-align:center;
    height:250px;
    padding-left:5px;
}
.url_path_content::after{
    content:"";
    display:inline-block;
    height:100%;
}
.url_path_content div[class^="urlnamedefine_"]{
    width:100%;
    height:60px;
    line-height:60px;
}
.url_path_content div[class^="urlnamedefine_"]::after{
    content:"";
    display:inline-block;
    clear:both;
}
.url_path_name{
	float:left;
	width:25%;
}
.url_path_picture{
    float:left;
    width:10%;
    position:relative;
}
.url_path_detail{
	float:left;
	width:45%;
}
.url_path_token,.url_path_option{
	float:left;
	width:10%;
}
.url_path_name_input,.url_path_detail_input{
    width:85%;
    height:25px;
	line-height:25px;
}
.url_path_addPicture{
    width:33px;
    height:33px;
    margin:13px 17px;
    background:url(../../img/view/view_tabs.png) -533px -44px no-repeat;
}
.url_path_addPicture:hover{
    background:url(../../img/view/view_tabs.png) -537px -5px no-repeat;
	cursor:pointer;
}
/*上传图片按钮样式*/
#urlcontent div.webuploader-pick{
    background:transparent;
}
#urlcontent div.webuploader-pick-hover{
    background:transparent;
}
#urlcontent img.pictureContainer{
    width:33px;
    height:33px;
    margin:13px 17px;
    position:absolute;
    top:0;
    left:0;
}

.pictureSize{
    color:#77b1d6;
    position:absolute;
    bottom:20px;
    right:10px;
}
#urlcontent>div{
	display:none;
}
#urlcontent>div.active{
	display:block;
}
.url_menus{
	width:100%;
	border-bottom:1px dashed #E8E8E8;
}
.url_menus::after{
	content:"";
	display:inline-block;
	clear:both;
}
/*table header css*/




