.tabs {
	padding: 0;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.tabs > div {
	height: 90px;
	border-bottom: none;
}
.tabs a.ui-tabs-anchor {
	outline: none;
	cursor: pointer!important;
}
.tabs .ui-tabs-nav {
	margin: 0;
	padding: 0 3em;
}
.tabs .ui-widget-header {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}
.tabs .ui-tabs-anchor {
	margin-top: 1px!important;
	letter-spacing: 1.2px;
}
.tabs .ui-state-default {
	border: none;
	outline: none;
}
.tabs .ui-state-default.ui-state-hover {
	background: none;
}
.tabs .ui-state-default.ui-state-active {
	border: 1px solid #dcdcdc;
	border-bottom: none;
}
.tabs .ui-state-active.ui-state-hover {
	background: #fff;
}
.tabs .ui-tabs-panel {
	padding: 0;
}
.tabs .icon-logo {
	width: 20px;
	height: 28px;
	background: url(../../img/view/view_tabs.png) 0 -172px no-repeat;
	transition: transform 0.3s ease-in-out;
	-webkit-transition: transform 0.3s ease-in-out;
}
.tabs .icon-logo:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
.tabs .tabs-logo {
	position: absolute;
	top: 0;
	height: 30px;
	margin-left: 7px;
	margin-top: 2px;
	cursor: pointer;
}

.tabs .tabs-menu-disabeld {
	opacity: .5;
	cursor: not-allowed!important;
}

.tabs .group {
	display: inline-block;
	margin-top: 3px;
	text-align: center;
	color: #4F4F4F;
}
.tabs .group >ul {
	margin: 0 2px!important;
	padding: 0;
}
.tabs .group >ul::after {
	content: "";
	display: block;
	clear: both;
}
.tabs .group >ul li {
	float: left;
	padding:4px 3px 3px 3px;
	list-style: none;
	min-width: 75px;
	height: 63px;
	cursor: pointer;
}
.tabs .group >ul li[id]:hover {
	background: #D3EBFC;
	border-radius: 6px;
	transition: background-color .3s ease,
	border-radius .3s ease;
}
.tabs .group-widgets-hover {
	border-radius: 6px;
	background: #D3EBFC;
}
.tabs .group >ul li>div {
	position: relative;
}
.tabs .group .group-name {
	display: block;
	position: relative;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999999;
}
.tabs .group-sep {
	display: inline-block;
	margin: 0 1px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #fff;
	width: 0;
	height: 72px;
	font-size: 0;
}
.tabs .down-arrow {
	/* display: inline-block; */
	position: absolute!important;
    margin-top: -6px;
    margin-left: 28px;
	width: 12px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -145px 1px no-repeat;}

.tip-yellow {
	border: 1px solid #DDDDDD;
	border-radius: 0px;
	box-shadow: 2px 2px 2px rgba(238, 238, 238, 0.72);
	background: rgb(255, 255, 255);
	outline: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

.menu-content {
	background: #fff;
}
.menu-content .menuTitle {
	padding-left: 8px;
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-weight: bold;
	background: #EEEEEE;
}
.menu-content .menuContent {
	width: 170px;
	height: auto;
}
.menu-content .menuContent:after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.menu-content .menuContent > div {
	width: 85px;
	height: 65px;
	float: left;
	*display: inline;
	*zoom: 1;
	cursor: pointer;
	transition: background-color .2s ease;
}
.menu-content .menuContent > div:hover {
	background: #E0F5EA;
	cursor: move;
}

.menu-content .menuContent > div div {
	margin: 10px auto;
}


.tabs .tools-panel {
	margin-left: 9px;
	float: left;
}
.tabs .tools-panel >div {
	display: inline-block;
	margin: 3px;
	height: 20px;
	line-height: 20px;
	vertical-align: top;
}
.tabs .tools-panel .icon {
	margin-top: 6px;
	margin-right: 0px;
}
.tabs .tools-group-sep {/*工具栏图标样式修改 gaoya 20161216*/
	display: inline-block;
	/*position: relative;
	top: -4px;
	 left: 5px;
	margin-left: 10px;
	margin-right: 9px;
	 margin: 36px 12px 0px 12px; */
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #fff;
	height: 72px;
}



.icon-filter-date {
	background: #fff url(../../img/view/view_calendar.png) no-repeat right;
}

.icon-title {
	width: 10px;
	height: 10px;
	background: url(../../img/view/view_icon.png) 1px -1px no-repeat;
}
.icon-toLeft {
	width: 10px;
	height: 10px;
	background: url(../../img/view/view_icon.png) 1px -1px no-repeat;
}
.icon-toLeft {
	width: 8px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -9px 0px no-repeat;
}
.icon-toRight {
	width: 8px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -17px 0px no-repeat;
}
.icon-file-close {
	width: 18px;
	height: 14px;
	background: url(../../img/view/view_icon.png) -24px 2px no-repeat;
}
.icon-file-open {
	width: 18px;
	height: 14px;
	background: url(../../img/view/view_icon.png) -42px 2px no-repeat;
}
.l-grid-tree-link-open {
	margin-top: 7px!important;
	margin-right: 20px!important;
	width: 10px!important;
	height: 11px!important;
	background: url(../../img/view/view_icon.png) -110px 0px no-repeat;
}
.l-grid-tree-link-close {
	margin-top: 7px!important;
	margin-right: 20px!important;
	width: 10px!important;
	height: 11px!important;
	background: url(../../img/view/view_icon.png) -119px 0px no-repeat;
}
.l-grid-tree-link-close:after {
	content: '';
	position: absolute;
	margin-top: -3px;
	margin-left: 10px;
	width: 18px;
	height: 14px;
	background: url(../../img/view/view_icon.png) -24px 2px no-repeat;
}
.l-grid-tree-link-open:after {
	content: '';
	position: absolute;
	margin-top: -2px;
	margin-left: 10px;
	width: 18px;
	height: 14px;
	background: url(../../img/view/view_icon.png) -42px 2px no-repeat;
}
.l-grid-tree-link-open:hover {
	background: url(../../img/view/view_icon.png) -127px 0px no-repeat;
}
.l-grid-tree-link-close:hover {
	background: url(../../img/view/view_icon.png) -136px 0px no-repeat;
}
.icon-radio {
	width: 18px;
	height: 17px;
	background: url(../../img/view/view_icon.png) 0px -12px no-repeat;
}
.icon-radio.checked {
	width: 18px;
	height: 17px;
	background: url(../../img/view/view_icon.png) -18px -12px no-repeat;
}
.icon-checkbox {
	display: inline-block;
	width: 18px;
	height: 17px;
	background: url(../../img/view/view_icon.png) -68px -12px no-repeat;
}
.icon-checkbox.checked {
	width: 18px;
	height: 17px;
	background: url(../../img/view/view_icon.png) -51px -12px no-repeat;
}
.icon-search {
	width: 18px;
	height: 17px;
	background: url(../../img/view/view_icon.png) -83px -12px no-repeat;
}
.icon-attr-time {
	width: 12px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -59px -1px no-repeat;
}
.icon-attr-num {
	width: 12px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -72px -1px no-repeat;
}
.icon-attr-str {
	width: 12px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -85px -1px no-repeat;
}
.icon-attr-dim {
	width: 12px;
	height: 12px;
	background: url(../../img/view/view_icon.png) -98px -1px no-repeat;
}
.icon-logo {
	width: 20px;
	height: 28px;
	background: url(../../img/view/view_tabs.png) 0 -168px no-repeat;
}
/**tabs start**/

.icon-start-analysis {
	width: 36px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) 0 0 no-repeat;
}
.icon-start-saveReport {
	margin-top: 1px!important;
	width: 30px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) 0 -103px no-repeat;
}
/*"探索页面另存为"图标 gaoya 20160817*/
.icon-discovery-saveReport{
	margin-top: 1px!important;
	width: 32px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) -489px -84px no-repeat;
}
.icon-start-publishReport {
	width: 33px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) 0 -67px no-repeat;
}
.icon-start-saveLayout {
	width: 29px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) 0 -33px no-repeat;
}
.icon-start-importLayout {
	width: 33px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) 0 -138px no-repeat;
}
/**tabs start end**/
/**tabs data start**/

.icon-data-existData {
	width: 33px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) -38px 0 no-repeat;
}
.icon-data-importData {
	width: 33px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) -38px -33px no-repeat;
}
.icon-data-prevData {
	width: 30px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -38px -67px no-repeat;
}

.icon-tools-theme {
	width: 33px;
	height: 37px;
	background: url(../../img/view/view_tabs.png) -113px -142px no-repeat;
}
.icon-tools-bg {
	width: 60px;
	height: 37px;
	background: url(../../img/view/view_tabs.png) -106px -177px no-repeat;
}
/**tabs data end**/
/**tabs chart start**/

.icon-chart-table {
	margin-top: 4px!important;
	width: 35px;
	height: 32px;
	background: url(../../img/view/view_tabs.png) -38px -135px no-repeat;
}
.table-pivot {
	width: 42px;
	height: 40px;
	background: red url(../../img/view/view_tabs.png) -489px -43px no-repeat;
}
.table-detail {
	width: 42px;
	height: 40px;
	background: red url(../../img/view/view_tabs.png) -489px -1px no-repeat;
}
.icon-chart-pie {
	width: 35px;
	height: 36px;
	background: url(../../img/view/view_tabs.png) -38px -165px no-repeat;
}
.pie-normal {
	width: 43px;
	height: 43px;
	background: url(../../img/view/view_tabs.png) -184px 0px no-repeat;
}
.pie-ring {
	width: 44px;
	height: 45px;
	background: url(../../img/view/view_tabs.png) -184px -43px no-repeat;
}
.pie-rose {
	width: 43px;
	height: 43px;
	background: url(../../img/view/view_tabs.png) -184px -89px no-repeat;
}
.icon-chart-bar {
	margin-top: 2px!important;
	width: 35px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -75px 1px no-repeat;
}
.bar-xy {
	width: 44px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -184px -132px no-repeat;
}
.bar-yx {
	width: 47px;
	height: 41px;
	background: url(../../img/view/view_tabs.png) -231px 0px no-repeat;
}
.bar-xy-stack {
	width: 43px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -184px -172px no-repeat;
}
.bar-yx-stack {
	width: 47px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -231px -41px no-repeat;
}
/*二维柱形图图标样式 gaoya 20160818*/
.bar-xy-twoDimension{
	 width: 43px;
	 height: 40px;
	 background: url(../../img/view/view_tabs.png) -487px -120px no-repeat;
 }
.bar-yx-twoDimension{
	width: 47px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -487px -163px no-repeat;
}
.icon-chart-line {
	margin-top: 2px!important;
	width: 35px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -75px -33px no-repeat;
}
.line-xy {
	width: 43px;
	height: 38px;
	background: url(../../img/view/view_tabs.png) -231px -84px no-repeat;
}
.line-yx {
	width: 45px;
	height: 39px;
	background: url(../../img/view/view_tabs.png) -231px -164px no-repeat;
}
.line-xy-stack {
	width: 45px;
	height: 39px;
	background: url(../../img/view/view_tabs.png) -231px -124px no-repeat;
}
.line-yx-stack {
	width: 44px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -279px 1px no-repeat;
}
.icon-chart-scatter {
	margin-top: 2px!important;
	width: 37px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) -75px -68px no-repeat;
}
.scatter-normal {
	width: 43px;
	height: 39px;
	background: url(../../img/view/view_tabs.png) -279px -41px no-repeat;
}
.scatter-symbolSize {
	width: 43px;
	height: 39px;
	background: url(../../img/view/view_tabs.png) -279px -80px no-repeat;
}
.icon-chart-radar {
	margin-top: -2px!important;
	width: 36px;
	height: 37px;
	background: url(../../img/view/view_tabs.png) -75px -100px no-repeat;
}
.radar-normal {
	width: 40px;
	height: 47px;
	background: url(../../img/view/view_tabs.png) -279px -120px no-repeat;
}
.radar-area {
	width: 40px;
	height: 47px;
	background: url(../../img/view/view_tabs.png) -279px -169px no-repeat;
}
.icon-chart-gauge {
	margin-top: 1px!important;
	width: 34px;
	height: 33px;
	background: url(../../img/view/view_tabs.png) -75px -136px no-repeat;
}
.gauge-normal {
	width: 45px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -324px 1px no-repeat;
}
.gauge-ring {
	width: 56px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -324px -38px no-repeat;
}
/*热力统计地图，气泡统计地图
 *
*/
.icon-chart-heatmap{
	width: 50px;
	height: 31px;
	background: url(../../img/view/view_tabs.png) -576px -34px no-repeat;
}
.icon-chart-statMap {
	margin-top: 3px!important;
	width: 33px;
	height: 30px;
	background: url(../../img/view/view_tabs.png) -588px -133px no-repeat;
}
.icon-chart-barMix {
	margin-top: 3px!important;
	width: 34px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -588px -65px no-repeat;
}

.icon-chart-treemap {
	margin-top: 2px!important;
	width: 35px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -588px -99px no-repeat;
}

.heatmap-normal{
	width: 35px;
	height: 29px;
	background: url(../../img/view/view_tabs.png) -629px 0px no-repeat;
}
.treemap-normal{
	width: 35px;
	height: 35px;
	background: url(../../img/view/view_tabs.png) -629px -64px no-repeat;
}
.barMix{
	width: 35px;
	height: 35px;
	background: url(../../img/view/view_tabs.png) -629px -29px no-repeat;
}
.heatmap1-normal {
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -381px -126px no-repeat;
}
.effectScatter-normal {
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -381px -168px no-repeat;
}
.icon-chart-funnel {
	margin-top: 3px!important;
	width: 33px;
	height: 30px;
	background: url(../../img/view/view_tabs.png) -75px -170px no-repeat;
}
.funnel-normal {
	width: 50px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -324px -78px no-repeat;
}
.funnel-sort {
	width: 50px;
	height: 44px;
	background: url(../../img/view/view_tabs.png) -324px -119px no-repeat;
}
.icon-chart-progress {
	width: 44px;
	height: 10px;
	background: url(../../img/view/view_tabs.png) -115px -64px no-repeat;
}
.icon-chart-progress.marginTop {
	margin-top: 13px!important;
	margin-bottom: 10px!important;
}
.progress-normal {
	margin-top: 25px!important;
	width: 52px;
	height: 13px;
	background: url(../../img/view/view_tabs.png) -433px 0 no-repeat;
}
.progress-ring {
	width: 43px;
	height: 44px;
	background: url(../../img/view/view_tabs.png) -433px -12px no-repeat;
}
.icon-chart-force {
	width: 34px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -115px -73px no-repeat;
}
.force-normal {
	width: 53px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -433px -57px no-repeat;
}
.force-tree {
	width: 55px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -433px -89px no-repeat;
}
.icon-chart-chord {
	width: 36px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -115px -107px no-repeat;
}
.chord-normal {
	width: 44px;
	height: 43px;
	background: url(../../img/view/view_tabs.png) -433px -129px no-repeat;
}
.chord-nonRibbon {
	width: 48px;
	height: 49px;
	background: url(../../img/view/view_tabs.png) -433px -172px no-repeat;
}
.icon-chart-map {
	width: 34px;
	height: 34px;
	background: url(../../img/view/view_tabs.png) -115px -30px no-repeat;
}

.map-china {
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -381px -82px no-repeat;
}
.map-china-guangdong_guangdong {
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -324px -167px no-repeat;
}
/*新增全国各省地图 gaoya 20170425*/
.map-china-beijing_beijing {
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -715px -170px no-repeat;
}
.map-china-shanghai_shanghai{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -768px -169px no-repeat;
}
.map-china-tianjin_tianjin{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -770px 0px no-repeat;
}
.map-china-chongqing_chongqing{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -770px -43px no-repeat;
}
.map-china-xianggang_xianggang{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -770px -84px no-repeat;
}
.map-china-aomen_aomen{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -767px -126px no-repeat;
}
.map-china-anhui_anhui{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -875px -127px no-repeat;
}
.map-china-fujian_fujian{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -875px -168px no-repeat;
}
.map-china-guangxizhuangzu_guangxizhuangzu{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -665px 0px no-repeat;
}
.map-china-guizhou_guizhou{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -665px -127px no-repeat;
}
.map-china-gansu_gansu{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -715px 0px no-repeat;
}
.map-china-hainan_hainan{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -664px -35px no-repeat;
}
.map-china-hebei_hebei{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -822px 0px no-repeat;
}
.map-china-henan_henna{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -928px -85px no-repeat;
}
.map-china-heilongjiang_heilongjiang{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -874px 0px no-repeat;
}
.map-china-hubei_hubei{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -929px -126px no-repeat;
}
.map-china-hunan_hunan{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -930px -168px no-repeat;
}
.map-china-jilin_jilin1{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -822px -168px no-repeat;
}
.map-china-jiangsu_jiangsu{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -876px -41px no-repeat;
}
.map-china-jiangxi_jiangxi{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -928px 0px no-repeat;
}
.map-china-liaoning_liaoning{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -823px -127px no-repeat;
}
.map-china-neimenggu_neimenggu{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -822px -85px no-repeat;
}
.map-china-ningxiahuizu_ningxiahuizu{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -719px -84px no-repeat;
}
.map-china-qinghai_qinghai{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -716px -43px no-repeat;
}
.map-china-shanxi1_shanxi1{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -665px -169px no-repeat;
}
.map-china-shanxi_shanxi{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -821px -43px no-repeat;
}
.map-china-shandong_shandong{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -928px -42px no-repeat;
}
.map-china-sichuan_sichuan{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -663px -84px no-repeat;
}
.map-china-taiwan_taiwan{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -976px -88px no-repeat;
}
.map-china-xinjiangweiwuer_xinjiangweiwuer{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -717px -126px no-repeat;
}
.map-china-yunnan_yunnan{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -980px -42px no-repeat;
}
.map-china-zhejiang_zhejiang{
	width: 53px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -875px -85px no-repeat;
}
/*end*/
.map-point-china {
	width: 52px;
	height: 45px;
	background: url(../../img/view/view_tabs.png) -381px -124px no-repeat;
}
.map-line-china {
	width: 54px;
	height: 45px;
	background: url(../../img/view/view_tabs.png) -380px -167px no-repeat;
}
.icon-chart-text {
	margin-top: 3px!important;
	width: 32px;
	height: 30px;
	background: url(../../img/view/view_tabs.png) -115px 1px no-repeat;
}
.text-normal {
	width: 40px;
	height: 40px;
	background: url(../../img/view/view_tabs.png) -381px 0 no-repeat;
}
.text-fu {
	width: 40px;
	height: 42px;
	background: url(../../img/view/view_tabs.png) -381px -40px no-repeat;
}
/*指标卡样式 gaoya 20161108*/
.icon-chart-indicator{
	width: 35px;
	height: 34px;
	margin-top:3px!important;
	background: url(../../img/view/view_tabs.png) -533px -79px no-repeat;
}
.indicator-single{
	width: 52px;
	height: 32px;
	margin:15px auto!important;
	background: url(../../img/view/view_tabs.png) -533px -113px no-repeat;
}
.indicator-two{
	width: 52px;
	height: 32px;
	margin:15px auto!important;
	background: url(../../img/view/view_tabs.png) -533px -147px no-repeat;
}
.indicator-three{
	width: 52px;
	height: 32px;
	margin:15px auto!important;
	background: url(../../img/view/view_tabs.png) -533px -181px no-repeat;
}
.indicator-four{
	width: 52px;
	height: 32px;
	margin:15px auto!important;
	background: url(../../img/view/view_tabs.png) -576px -1px no-repeat;
}

.tools-grid {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -194px -13px no-repeat;
}
.tools-opt {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -176px -12px no-repeat;
}
.tools-serach {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -162px -12px no-repeat;
}
.tools-email {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -173px -31px no-repeat;
}
.tools-download {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -53px -45px no-repeat;
}
.tools-waterflag {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -69px -46px no-repeat;
}
.tools-url {/*gaoya*/
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -152px -45px no-repeat;
}
.tools-linkchart {
	width: 15px;
	height: 15px!important;
	background: url(../../img/view/view_icon.png) -189px -31px no-repeat;
}
.tools-panel>div[title]{
    width:50px;
}
.bi-icon {
	margin: 0 auto;
}
.menu-content .menuContent.theme {
	position: relative;
	width: 100%;
}
.menu-content .menuContent.theme >div {
	position: relative;
	display: block;
	padding-left: 30px;
	height: 25px;
	line-height: 25px;
	width: 100%;
	cursor: pointer!important;
	border-bottom: 1px solid #ddd;
}
.menu-content .menuContent.theme >div {

}

.menu-content .menuContent.theme >div:last-child {
	border-bottom: none;
}
.menu-content .menuContent.theme >div.driver {
	width: 80%;
	position: relative;
	left: 27px;
	height: 1px;
	border-bottom: 1px solid #ddd;
}
.menu-content .menuContent.theme >div div {
	margin: 0 6px 0 0;
}

.menu-content .menuContent.theme >div .example {
	position: absolute;
	top: 2px;
	margin-left: 74px;
}
.menu-content .colorborder{
	display: inline-block;
	margin-left: 10px;
	width:12px;
	height: 12px;
	border-radius: 3px;
}
#mapMenu.menu-content .menuContent{
	width:459px;
}

.menu-content .theme .fa-check {
	display: none;
	position: absolute;
	top: 6px;
	left: 8px;
	color: #757575;
}
.theme-check {
	background: #d5e9f3!important;
}

.theme-check .fa-check{
	display: block!important;
}
