body{
	overflow: hidden;
}
.ui-layout-pane {
	padding: 0;
	margin: 0;
	border: 0;
}
#layout_header_panel {
	border-bottom: 1px solid #ddd;
	border-top: 2px solid #1E8ABF;
	overflow-y: hidden;
}
#layout_attr_panel {
	border-right: 1px solid #ddd;
	overflow: hidden;
}

#layout_attr_panel.ui-layout-pane-west-open-hover {
	/*border-right: 1px solid #ddd;*/
}
#layout_body_content_panel {
	border-top: 0px solid #ddd;
}
#layout_body_content_panel #layout_body_content_filterOpt_panel{
	overflow: hidden;
}

#filterPanel,#layout_body_title_panel,#handlePanel{
	overflow: hidden;
}

#propertyPanel{
	border-right: 1px solid #ddd;
	overflow: hidden;
	z-index:1!important; 
}

.ui-layout-resizer-west {
	background: #fff;
	border: 1px solid #ddd;
	border-top-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	z-index: 0!important;
	width: 5px;
}
.ui-layout-resizer-west.ui-layout-resizer-west-dragging{
	border-left-width: 1px;
}
.ui-layout-toggler-west {
	display: none!important;
}

.ui-layout-resizer-sliding{
	display: none!important;
}
.toTop{
	top:0!important;
}
.moreLeg{
	position: absolute;
	top:100px;
	width: 30px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #ccc;
	z-index: 999;
	cursor: pointer;
}