.layout_title_panel {
	padding-left: 22px;
	border-bottom: 1px solid #DDDDDD;
	height: 25px;
	line-height: 25px;
	background: #FAFAFA;
	color: #4F4F4F;
	font-weight: bolder;
}
.layout_title_panel.full{
	padding-left: 46px;
}
.layout_title_panel:before,
#operaPanel:before {
	display: inline-block;
	position: absolute;
	margin-left: -15px!important;
	margin-top: 6px!important;
	content: '';
	width: 10px;
	height: 10px;
	background: url(../../img/view/view_icon.png) 1px -1px no-repeat;
}

#layout_attr_panel .l-panel {
	border-width: 0 1px 0 0;
	border-color: #D4D4D4;
}
#layout_attr_panel .l-grid-header2 {
	display: none;
}
#layout_attr_panel .l-grid-body2 {
	overflow: hidden;
}
#layout_attr_panel .l-panel-header {
	padding: 0;
	height: 29px;
	line-height: 30px;
	background: none;
	border-color: #D4D4D4;
}
#layout_attr_panel .l-panel-header-hasicon {
	padding-left: 13px;
}
#layout_attr_panel .l-panel-header img {
	position: absolute;
	left: 6px;
	top: 5px;
	width: 16px;
	height: 16px;
	border: 0px;
}
#layout_attr_panel .l-panel-header-text {
	line-height: 22px;
	padding-left: 5px;
}
#layout_attr_panel .l-grid-row-cell {
	border-right: none;
	border-color: #D4D4D4;
}
#layout_attr_panel .l-grid-body-inner,
#layout_attr_panel .l-grid-body-table {
	width: 100%!important;
}
#layout_attr_panel .l-grid-row-cell-inner {
	cursor: pointer;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#layout_attr_panel .l-grid-row-cell-inner {
	line-height: 28px!important;
}
#layout_attr_panel .l-grid-tree-link {
	margin-top: 3px;
}
#layout_attr_panel .l-grid-tree-space {
	width: 15px;
}
#layout_attr_panel .filter-span {
	position: absolute;
	margin-top: 2px;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding-left: 3px;
	height: 24px;
	width: 95%;
}
#layout_attr_panel .filter-span:hover {
	-moz-box-shadow: 0 0 3px 0 #95B8E7;
	-webkit-box-shadow: 0 0 3px 0 #95B8E7;
	box-shadow: 0 0 3px 0 #95B8E7;
}
#layout_attr_panel .filter-text {
	margin: 3px 25px 3px 3px;
	width: 98%;
	line-height: normal!important;
	border-width: 0;
	outline: none;
}
#layout_attr_panel  .filter-icon {
	position: absolute;
	right: 0;
	top: 2px;
	width: 19px;
	height: 19px;
	cursor: pointer;
	background: url(../../img/view/view_icon.png) -83px -12px no-repeat;
	opacity: .7;
	transition: opacity .2s ease;
}
#layout_attr_panel .filter-icon:hover {
	opacity: 1
}
#layout_attr_panel .bi-attr-icon {
	display: inline-block;
	margin-right: 2px;
	vertical-align: -1px;
}

.attrButtonbar{
	position: absolute;
	bottom: 0;
	left:0;
	width:100%;
	border-top: 1px solid #DDDDDD;
	height: 25px;
	line-height: 25px;
	background: #FAFAFA;
	color: #4F4F4F;
}

.calcButton {
	display: inline-block;
	height: 24px;
	border-left: 1px solid #ddd;
	background: #fff;
	cursor: pointer;
	text-align: center;
	letter-spacing: 1px;
	transition: background-color .2s ease;
}
.calcButton:hover {
	background: #00BDEF;
	color: #fff;
}
.calcButton:active {
	background: #4D83B9;
}
#layout_attr_panel .calcPanel{
	height: 100%;
	width: 50%;
}
#layout_attr_panel .dateFormatPanel{
	height: 100%;
	width: 50%;
}
.attr-helper{
	margin: 5px;
	padding: 0 10px!important;
	width: 150px!important;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: rgba(227, 241, 246, .6);
	border: 1px solid #2fade4;
	border-radius: 3px;
	box-shadow: 0 0 10px #61bcea;
	color: #4F4F4F;
	font-weight: bold;
	z-index: 999999999!important;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.filter-placeholder {
	vertical-align: top;
	margin: 5px 48px 0px 30px;
	width: 260px!important;
	height: 36px;
	border: 1.7px dashed #5FC0EB;
	border-radius: 3px;
	background: rgba(250, 250, 250, .8);
	color: #4F4F4F;
	font-weight: bold;
	z-index: 99999999!important;
	display: inline-block;
	font-size: 0
}
.custom_dimAttr{
    color: #00B83F;
}
