.panel {
	width: 100%;
	padding: 10px;
	min-width: 1024px;
}

.tab-pane {
	width: 99%;
	margin: auto;
	padding: 0;
}

.tab-pane>li {
	list-style-type: none;
	width: 100%;
	margin: auto !important;
	padding: 5px 0px;
}

.tab-pane>li:first-child {
	margin: 20px 0 !important;
}

.tab-pane>li>div {
	display: inline-block;
}

.label-class {
	width: 11%;
	text-align: right;
}

.input-class {
	width: 14%;
}

.button-class {
	width: 15%;
	text-align: center;
}

.button-middle {
	width: 90px;
}

.oper-button {
	width: 100%;
	text-align: right;
	margin-bottom: 10px;
}

.group-list {
	list-style-type: none;
	width: 100%;
	margin: auto !important;
	padding: 0
}

.group-list .ui-jqgrid-bdiv {
	overflow-x:hidden !important;
}

.group-list .ui-jqgrid-view {
	overflow-x:hidden !important;
}

.add-group-dialog {
	margin-top: 12px;
}

.disabled {
	disabled : true
}
