@CHARSET "UTF-8";
.registerForm {
	margin-top: 130px;
	margin-left: -20px;
}

.registerForm .form-group {
	margin: 30px;
}

.registerForm .btn-register {
	margin-top:-20px;
	letter-spacing: 3px;
}

.registerForm .tipPanel {
	padding-left: 30px;
	border: 1px solid #D1EEFF;
	background: #F5FBFF;
}

.registerForm .tipPanel .text {
	font-size: 16px;
	line-height: 45px;
}

.registerForm .tipPanel span {
	font-size:12px;
}	

.registerForm .tipPanel span p {
	line-height: 15px;
	color: #F3B66F;
	font-size:14px;
}

.registerForm .form-group .captcha-div{
	padding-right:0px;
}

.registerForm .form-group .captcha-div .captcha{
	-moz-border-radius: 4px 0px 0px 4px;;     
    -webkit-border-radius: 4px 0px 0px 4px;;  
    border-radius:4px 0px 0px 4px;
}

.registerForm .form-group .validate-img img{
	width: 105px;
	height: 36px;
	-moz-border-radius: 0px 4px 4px 0px;;     
    -webkit-border-radius: 0px 4px 4px 0px;;  
    border-radius:0px 4px 4px 0px;
	background: #71B3C6;
	cursor: pointer;
}


.registerForm .tipPanel .success {
	padding-bottom: 40px; 
	line-height: 5px;
}

.registerForm .error-div {
	padding-left:19px;	
	border: 1px solid #eb473b;
	height: 42px;
	line-height: 42px;
	border-radius:4px;
	font-size: 14px;
	color:#fd6e6a;
	background: #FBDBD0;
	display:none;
}
.registerForm .error-div .error-str{
	color:red;
}

.register-dialog .modal-dialog{
	width: 330px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}

.register-dialog .modal-body{
	font-size:13px;
}

.register-dialog .modal-body{
	font-size:13px;
}
.register-dialog .bootstrap-dialog-title{
	font-size:24px;
	font-weight:normal;
}

.register-dialog .bootstrap-dialog-footer-buttons button{
	background:#1ABC9C;
}
