.switchButton {
	display: inline-block;
	width: 80px;
	height: 20px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.switchButton ul,
.switchButton li,
.switchButton input {
	margin: 0;
	padding: 0;
}
.switchButton ul li {
	float: left;
	list-style: none;
	height: 20px;
	line-height: 21px;
	text-align: center;
}
.switchButton .on {
	width: 59px;
	background: #4CB31C;
	color: #fff;
}
.switchButton .off {
	width: 55px;
	background: #FFF;
	color: #4f4f4f;
}
.switchButton .blank {
	width: 20px;
	background: #FFF;
	border: 1px solid #CCCCCC;
	border-left: none;
	border-top: none;
	border-bottom: none;
}
.switchButton ul {
	width: 120px;
	transition: margin-left .3s ease;
	margin-left: -41px;
}
.switchButton .checkbox {
	position: absolute;
	margin-top: 0;
	margin-left: -30px;
	width: 60px;
	height: 20px;
	background-color: red;
	opacity: 0;
	cursor: pointer;
}
.checkbox:checked ~ ul {
	margin-left: 0px;
}