.red {
	color: red;
}

.gray {
	color: #9c9c9c;
}

.bolder {
	font-weight:bolder;
}

.container-fluid {
	padding: 0 !important;
}

.divDispaly {
	display: inline-block;
}

.main-panel {
	width: 100%;
	padding: 0;
	margin: 0;
	min-width: 1024px;
}
.step-container {
	margin-top: -8px;
	height: 48px;
	width: auto;
	border: 0;
	border-radius: 0;
	box-shadow: 0 2px 5px #909090;
	background-color: #fff;
}
.step-container .step-tab {
	margin-top: -15px;
	float: left;
	width: 25%;
	text-align:center;
}
.step-container .step-tab .step-title-num {
	display: inline-block;
	width: 24px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	color: #FFFFFF;
	text-align: center;
	background: #6BACD5;
	border-radius: 360px;
}
.step-container .step-tab .step-title-span {
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
}
.step-container .step-tab .active-notFinished { background: #CAC1B3; }
.step-container .step-tab .active-Finished { background: #5FD021; }
.step-line {
	margin-top: -21px;
	height: 2px;
	background-color: #FFF;
	width: 18%;
	background-color: #6BACD5;
}

.view-info { 
	margin: 0;
	padding-top: 20px;
	width: auto;
	height: auto;
	min-height: 565px;
	background: #FFFFFF;
	text-align: center;
}
.view-info .view-info-panel {
	padding: 0px;
	margin: 0px;
	text-align: left;
}
.view-info li {
	list-style-type: none;
	width: 100%;
	margin: auto !important;
	padding: 4px 0;
}
.view-info .label-class {
	text-align: right; 
	width: 33%;
	padding: 5px 8px 5px 4px;
	vertical-align: top;
}
.view-info .input-class {
	text-align: left; 
	width: 37%;
	vertical-align: text-top;
}
.view-info .desc-class {
	text-align: left; 
	width: 37%;
	vertical-align: text-top;
}
.view-info .nextButton {
	margin-top: 100px;
	width: 100px;
}
.bottom-button-common {
	padding: 15px 0px;
}
.bottom-button-common button { 
	width: 100px; 
	margin-left: 20px;
}
#selectDB_chosen .chosen-search {
	display: block !important;
}
#selectDB_chosen.chosen-drop .chosen-results li {
	width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#classifySel_chosen .chosen-search {
	display: block !important;
}
#classifySel_chosen .chosen-drop .chosen-results li {
	width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-info {
	margin: 0px;
	padding-top: 20px;
	width: auto;
	height: auto;
	min-height: 565px;
	background: #FFFFFF;
}
.table-info .label-class {
	margin-left: 8%;
	padding: 5px 8px 5px 4px;
	vertical-align: top;
}
.table-info .input-class {
	text-align: left; 
	width: 18%;
	vertical-align: text-top;
}
.table-info .connect-table {
	margin-top: 10px;
}
.table-info .connect-table-span {
	margin-top: 10px;
	margin-left: 8%;
	padding: 5px 8px 5px 4px;
	vertical-align: top;
}
.table-info .table-block {
	position: relative;
	margin: 10px auto;
	width: 83%;
	height: 350px;
	border: 1px dashed #cdcdcd;
	border-radius: 10px;
}
.table-info .table-item {
	margin-left: 45px;
    margin-top: 15px;
    text-align: center;
	width: 20%;
	height: 40px;
	cursor: pointer;
}
.table-info .items-not-checked {
	border: 1px solid #d3d3d3;
}
.table-info .items-checked {
	border: 1px solid #60c2f3;
	box-shadow: 0 0 0 1px #60c2f3;
}
.table-info .table-items-name {
	padding-top: 2px;
	margin-left: 12%;
    width: 76%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table-info .table-button {
	text-align: center; 
}
.table-info .item-check {
    float: left;
    width: 18px;
    height: 18px;
    margin-left: 8px;
    margin-top: 6px;
    color: #60c2f3;
    font-size: 24px;
}
.table-info .table-selected {
	width: 80%;
	min-height: 29px;
}
.table-info .table-all-div {
	margin-left: 10px;
	width: 20.5%;
	height: 30px;
	line-height: 27px;
    border-radius: 4px;
    background-color: #60c2f3;
    color: #fff;
    padding: 0 4px;
    cursor: pointer;
    text-align: center;
}
.table-info .table-all-name {
	padding-top: 2px;
	margin-left: 12%;
    width: 76%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table-info .table-select-close {
	float: right;
    width: 18px;
    height: 18px;
    margin-top: -19px;
    color: #fff;
    cursor: pointer;
}

.link-info {
	margin: 0px;
	padding-top: 20px;
	width: auto;
	height: auto;
	min-height: 565px;
	background: #FFFFFF;
}
.link-info .link-button { text-align: center; }
.link-info .link-info-grid {
	margin: 10px;
	width: auto;
	height: 387px;
}
.link-info .ui-jqgrid-bdiv {
	overflow-x:hidden !important;
}
.link-info .ui-jqgrid-view {
	overflow-x:hidden !important;
}
.link-info .check-box{
    font-size: 16px;
    width: 20px;
}
.field-info {
	margin: 0px;
	padding: 20px 0;
	width: auto;
	height: auto;
	min-height: 565px;
	background: #FFFFFF;
	text-align: center;
}
.field-info .field-button {
	margin-top: 15px;
	width: 100px;
}
.field-info .field-info-grid {
	margin: 10px;
	width: auto;
	height: 387px;
}
.field-info .ui-jqgrid-bdiv {
	overflow-x:hidden !important;
}
.field-info .ui-jqgrid-view {
	overflow-x:hidden !important;
}
.field-info .check-box{
    font-size: 16px;
    width: 20px;
}


