body {
    font-size:13px;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}


#pjax-container{
    padding-top: 0px;
}

.panel{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9;
    margin-bottom:0px;
    border: 1px solid #DCDCDC;
    border-bottom: 1px solid #c3c3c3;
    z-index:1;
    margin-top:-8px;
    border-radius:0;
    padding:10px;
    min-width:1024px;

}

.panel .top .tags{
    font-size:15px;
    line-height:41px;
}

.panel .top .butRow{
    padding-top:5px;
    position:relative;
    width:100%;
}

.panel .top .tags .tag {
    color:#27A0DE;
    margin-left: 31%;
}

.panel .top .tags .tagtxt{
    margin-left:10%;
    font-weight: bolder;
}

.panel .top .checkbox-diy{
    cursor:pointer;
    width: auto;
}

.panel .top .checkbox-diy>label{
    font-size:13px;
    margin-left:7px;
}

.panel .top .moreLabel{
    display:none;
}

.panel .top .more{
    margin-left:-1%;
    display:none;
}

.panel .top .more a{
    line-height:12px;
}

hr{
    margin: 0 -4px 4px -4px;
    border-top-width: 2px;
    clear:both;
}

.panel .top .btn-group {
    margin-left: 6%;
}

.panel .top .btn-group button{
    border:1px solid #DCDCDC;
    border-right: none;
    padding-left:25px;
    padding-right:25px;
}

.panel .top .btn-group #lastbutton{
    border-right:1px solid #ccc;
}

.panel .top .manage{
    margin-left: -5%;
}


.panel .top .tool span{
    margin-left:10%;
}

.panel .top .searchDiv{
    margin-left: -26%;
    margin-right: 9%;
}

.panel .top .searchDiv #search {
    background :#1C9FE3;
    border-color :#1C9FE3;
    padding: 0 13px;
    z-index:0;
}

.panel .top .searchDiv #searchInput{
    background:#F4F4F4;
}

.content{
    height:75%;
    position:absolute;
    width:99.4%;
    padding:10px  70px;
    border-top:1px solid #DBE1E4;
    padding-top:16px;
    margin-top: 100px;

}

.content #content{
    height:auto;
    text-align:center;
    min-width:1024px;
}

.content #content .thumbnail{
    position: relative;
    width:23%;
    float:left;
    margin-left:1%;
    margin-right:1%;
    margin-bottom:2%;
    border:2px solid #fff;
}

.content #content .thumbnail .help-block{
    margin-top:-1%;
    font-size :13px;
    margin-left:2%;
}

.content #content .thumbnail .help-block div{
    float :left;
}

.content #content .thumbnail .help-block .comment{
    width:35%;
}

.content #content .thumbnail .help-block .stars{
    width:28%;
    text-align:center;
}

.stars .fa-star,.stars .fa-star-half-o{
    color:#FF7400;
}

.content #content .thumbnail .help-block .visit{
    width:37%;
    text-align:center;
}

/* .content #content .thumbnail .but{
	text-align:center;
	position :absolute;
	display:none;
	background:#57AEE4;
	opacity: 0.9;
	margin-left:-0.3%;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	cursor:default;
}

.content #content .thumbnail .but span{
	color : #FFFFFF;
	margin-left :7%;
	cursor:pointer;
}
.content #content .thumbnail .but img{
	cursor:pointer;
	margin-top: -5%;
}

.content #content .thumbnail .but button{
	margin-top:4%;
	height: 32px;
    line-height: 16px;
} */

.content #content .thumbnail .txt{
    padding-top:1%;
    text-align:left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right:2%;
    cursor:pointer;
}
.content #content .thumbnail .txt:hover>strong{
    color:#027EBE;
}
.content #content .thumbnail .stars .star{
    margin-bottom: 3px;
    margin-right: 1%;
}

.content #content .thumbnail .times{
    color:#F78989;
}

.page{
    margin-bottom:10px;
}

.page #page{
    margin-top:-1%;
}

.page #page .m-pagination-group{
    line-height:34px;
}

.effect {
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 3px #cccccc;
    border:none;
}

.effect .repImg{
    width:100%;
    cursor:pointer;
}

/* 按钮组按钮正常的样式 */
.normalButton{
    background : #FFFFFF;
    color : black;
    transition: opacity 0s ,linear background 0s;
}

/* 点击过后的按钮样式 */
.clickedButton{
    color : #FFFFFF!important;
}

.normalButton:hover{
    opacity:.5;
}

/* 改变所有checkbox的大小 */
label span{
    font-size:15px;
}


/* .data-add-dialog .modal-dialog{
	width: 730px;
}

.data-add-dialog .modal-body {
	height: 530px;
	background-color :#3B94C1;
}

.data-add-dialog .modal-header {
	background-color : #3B94C1!important;
	border-bottom:none;
}

.data-add-dialog .modal-header .close {
	margin-top: -7px;
}

.data-add-dialog .bootstrap-dialog-header{
	height:18px;
	line-height: 22px;
}
.data-add-dialog .bootstrap-dialog-title{
	font-size:13px;
} */

.share-dialog .modal-dialog {
    width:690px;
}


.butFa{
    font-size : 20px;
}

#content .thumbnail .but{
    padding: 1px 4px;
    height: 36px;
}

#content .thumbnail .but>div{
    float :left;
    width:25%;
    color : #333333;
    padding : 5px 10px;
    cursor:pointer;
    border : 2px solid #fff;
    border-radius:5px;
    font-size : 12px;
    transition : border-color .3s,color .3s;
    -webkit-transition : border-color .3s,color .3s;
}

#content .thumbnail .but .eidtbtn{
    margin-right: 8%;
    margin-left: 5%;
}

#content .thumbnail .but .delbtn{
    margin-right: 8%;
}

#content .thumbnail .but i{
    color : #8e8e8e;
    background:#fff;
}

#content .thumbnail .but>div:hover{
    border-color : #00a0e9;
    color:#00a0e9;
}

.timeSpan{
    color:red;
}

.eidtbtn span,.delbtn span,.sharebtn span{
    display : none;
}

.eidtbtn i,.delbtn i,.sharebtn i{
    display : block;
}

.eidtbtn:hover span,.delbtn:hover span,.sharebtn:hover span{
    display : block;
}
.eidtbtn:hover i,.delbtn:hover i,.sharebtn:hover i{
    display : none;
}

.reportLoading{
    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
    height:4px;
}

.actGotop{
    position:fixed;
    _position:absolute;
    bottom:30px;
    right:18px;
    width:46px;
    height:100px;
    display:none;
    opacity: 0.8;
    overflow: hidden;
}
.actGotop a{
    position: absolute;
    width:150px;
    height:100px;
    background:url(../img/gotop.png) no-repeat;
}

.actGotop:hover a{
    animation: gotop .3s steps(1) infinite;
    -webkit-animation: gotop .3s steps(1) infinite;
}

@-webkit-keyframes gotop{
    0%{
        -webkit-transform: translateX(-46px) ;
        transform: translateX(-46px) ;
    }
    33.3%{
        -webkit-transform: translateX(0px) ;
        transform: translateX(0px) ;
    }
    66.6%{
        -webkit-transform: translateX(-92x) ;
        transform: translateX(-92px) ;
    }
    100%{
        -webkit-transform: translateX(-46px) ;
        transform: translateX(-46px) ;
    }
}

.report-panel .top>hr{
    display:none;
    width:100%;
}

.noreport-msg{
    margin-top:100px;
}

.noreport-msg>div{
    display:inline-block;
}

.noreport-msg>div:nth-child(1){
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    width: 35px;
    height: 34px;
    text-align: center;
    background-color: rgba(182, 223, 245, 0.86);
    border-radius: 8px;
    line-height: 36px;
}

.noreport-msg>div:nth-child(2){
    font-size: 24px;
    margin-left: 20px;
    height: 31px;
    line-height: 24px;
    color: #B6DFF5;
}

.suspension{
    position : fixed;
    top : 0;
    left:0;
    right:0;
    z-index : 9;
}
/*by-yetf*/
.container{
    display: none;
}
#content .but{
    display: none;
}
.content #content .thumChoose{
    border-color:#27a8ed;
}
.thumChoose .choose{
    display: block;
    position: absolute;
    right: 0px;
    bottom:0px;
    width:38px;
    height:38px;
    background-image:url("../img/choose.png") ;
    background-repeat: no-repeat;
}
#oper{
    position: absolute;
    top:15px;
    right: 0;
    width:200px ;
    height:32px;
    z-index: 3;
}
#oper div{
    float: left;
    width: 75px;
    height:30px;
    line-height: 30px;
    text-align: center;
    border:1px solid;
    border-radius:4px ;
}
#oper div:hover{
    cursor: pointer;
}
#operSure{
    margin-right: 10px;
    background-color:#3498db ;
    color:#fff;
    border-color:#3498db ;
}
#operClose{
    background-color:#fff ;
    color:#666;
    border-color:#c8c8c8 ;
}