<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--mybatis的sql参数 -->
	<properties resource="config/jdbc.properties" />

	<!--mybatis全局设置 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="defaultExecutorType" value="REUSE" /> <!-- 使用预处理执行器 -->
		<setting name="defaultStatementTimeout" value="25" />
		<setting name="localCacheScope" value="SESSION" />
	</settings>


	<!-- 插件 -->
	<plugins>
		<plugin interceptor="org.bi.webbace.util.mybatis.paginator.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="org.bi.webbace.util.mybatis.paginator.dialect.Dialect" />
		</plugin>
	</plugins>
</configuration>