.panel{
	background-color:#FFF;
	margin-top:10px;
	min-width: 1024px;
}
.ui-jqgrid-bdiv {
	overflow-x:hidden !important;
}
.ui-jqgrid-view {
	overflow-x:hidden !important;
}
.head{
	margin: 10px 20px;
	background: #fff url(../img/email-details.png) right -10px no-repeat;
	padding-top: 40px;
}
.numIcon{
	display:inline-block; 
	width: 20px;
	height: 16px;
	margin: 2px 5px 0px 5px;
	margin-bottom: -2px;
	background: url(../img/total-icon.png) -18px 0px no-repeat;
}
h1,h2,h3{
	margin: 0;
    padding: 0
}
.head h1{
	font-size: 42px;
    font-style: normal;
    color: #333;
    font-weight: lighter;
}
.head h3{
	font-size: 15px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
}
.head p{
	width: 60%;
	font-size: 14px;
	line-height: 1.5;
    text-align: justify;
    margin: 1em 0;
	min-width: 560px;
}

.head .buttons{
	margin-top: 55px;
	min-height: 50px;
}

.head .buttons button{
	width:115px;
	margin-right:10px;
}

.head .buttons .calc{
	background-color: #108cee;
	background-image: linear-gradient(to bottom, #108cee, #0765e4);
    background-repeat: repeat;
}

.head .buttons .calc:hover{
	background-color: #1282E8;
	background-image: linear-gradient(to bottom, #1282E8, #0375E8);
    background-repeat: repeat;
}

.head .buttons button span{
	font-size:12px;
}

.head .buttons>span{
	font-size: 14px;
    display: inline-block;
    vertical-align: bottom;
    margin-left:2px;
/*     color: #aaa; */
}

.head .buttons span span{
/* 	  color: #f39800; */
}

.head hr {
	  border-top: 2px solid #108CEE;
	  width: 100%;
      margin-left: 0px;
}

.body{
	height:auto;
	padding-bottom: 40px;
}

.body .part{
	margin:0px 30px;
}

.body h1{
	  font-size: 20px;
	  font-weight: normal;
	  color: #434343;
}

.body .group{
	margin-top:20px;
}

.body .group .Advantage{
	padding: 25px 0 25px 20px;
    border-bottom: 1px solid #eee;
    min-height:105px;
    height:auto;
    width: 96%;
}

.body .group .Advantage>div{
	float:left;
}

.body .group .Advantage .img{
	width: 65px;
}


.body .group .icon{
	background: url(../img/icon_7206b010.png) 0 0 no-repeat;
}

.body .group .Advantage .icon-flexible{
	background-position: 0 0;
}

.body .group .Advantage img{
	width : 65px;
	height :65px;
	margin-top: -9px;
}

.body .group .Advantage .text{
	margin-left: 30px;
	width: 80%;
}

.body .group .text h3{
	font-size: 16px;
	font-weight: normal;
}

.body .group .text p{
	font-size: 14px;
	color: #aaa;
	margin: 6px 0;
	line-height: 1.5;
    text-align: justify;
}

.icon-stable {
  background-position: 0 -65px!important;
}

.icon-inexpensive {
  background-position: 0 -130px!important;
}

.icon-performance {
  background-position: 0 -195px!important;
}

.performance{
	height:125px!important;
}

.body .group .functions{
	  border: 2px solid #eee;
	  margin: 27px 0 0 0;
	  padding: 30px 18px;
	  border-radius: 8px;
	  width:96%;
	  height:349px;
}

.body .group .functions .function{
	 float:left;
	 height:140px;
}

.body .group .functions .function div{
	 float:left;
}

.body .group .functions .function .img{
	 width : 20%;
}

.body .group .functions .function .text{
	 width : 80%;
}

.body .group .functions img{
	width : 65px;
	height :65px;
}

.body .group .functions .odd{
	 border-right: 1px solid #eee;
     padding: 0px 23px 30px 0;
     width:49%;
}

.body .group .functions .even{
	padding: 0px 0 30px 23px;
	width:49%;
}

.icon-custom{
	background-position: 0 -325px!important;
}

.icon-dynamic{
	background-position: 0 -455px!important;
}

.icon-operating-system{
	background-position: 0 -260px!important;
}

.icon-safty{
	background-position: 0 -390px!important;
}

.two{
	border-top: 1px solid #eee;
	padding-top:30px!important;
}

.body .caseDiv .case{
	  border: 2px solid #eee;
	  border-radius: 8px;
	  float:left;
	  width:45%;
	  height:188px;
	  padding: 20px 16px 20px 37px;
}

.body .caseDiv .case div{
	  float:left;
}

.body .caseDiv .case .img{
	  width:23%;
}

.body .caseDiv .case .text{
	  width:54%;
}

.body .caseDiv .case .text p{
	  line-height: 2.5;
}

.body .caseDiv :first-child{
	margin-right:63px;
}

.body hr{
	width: 96%;
	margin-top:30px;
	margin-bottom:30px;
	border-top: 2px solid #eee;
}

.order-div {
	padding-right:20px;
}

.label-left {
	width: 8%;
	text-align: left;
	padding-left:20px;
	display: inline-block; 
	min-width: 100px;
/* 	float: left; */
}

.slider-div {
	padding-left: 20px;
	width: 40%;
	display: inline-block; 
	margin-bottom: -36px;
    padding-bottom: 10px;
/* 	float: left; */
}

.order-time {
	width: 80%;
	background-color:#FFFFFF;
	height:30px;
	line-height:30px;
	padding-left: 10px;
	display: inline-block; 
/* 	float: left; */
}
.orderNumDiv{
	display: inline-block; 
}

.order-time .btn-group button {
	color: black;
	width: 8%;
	min-width: 65px;
	background-color: #FFFFFF;
	border:1px solid #DCDCDC;
	border-right: none;
	font-size:12px;
}

.font-bolder {
	font-weight:bolder;
}

.font-orange {
	color: #ffa302;
}

.text-padding-left {
	padding-left:10px;
}

.btn-confirm {
	width:80px;
}

.text-align-center {
	text-align:center;
}
hr.blue {
	border-top: 2px solid #108CEE;
	margin-top: 20px;
	width: 96%;
	margin-left: 0px;
}

hr {
	border-top: 1px solid #ECECEC;
	width: 90%;
	margin-left: 20px;
}

.orderList {
	width: 96%;
}

#lastbutton{
	border-right:1px solid #ccc;
}
/* 按钮组按钮正常的样式 */
.normalButton{
	background: #FFFFFF;
	color: black;
	transition: opacity 0s ,linear background 0s;
}

.normalButton:hover{
	opacity:0.5;
}

/* 点击过后的按钮样式 */
.clickedButton{
	color: #FFFFFF!important;
}

.orderNum-value {
	width:60px;
	margin-top:1px;
	margin-left:30px;
	float:left;
	color: #FFB42E;
	font-weight: bold;
}
.serviceNum{
	margin-bottom: -2px;
}
.numSpan{
	width: 30px;
	height: 36px;
	line-height: 36px;
	background-color: #34475A;
	border-radius: 2px;
	margin: 1px;
	padding: 0px 10px;
	display: inline-block;
	color: #f39800;
}
.dateNum{
	margin: 5px;
}
.costNum{
	margin: 5px;
}
.inline-block{
	display: inline-block;
}
.adder{
	margin-left:-3px;
	text-align:center;
	font-weight:normal;
	border-radius:4px;
	vertical-align:middle;
	white-space:nowrap;
	display:table-cell;
	transition:border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
	color: #2EC7C9;
	background-color: #fff!important;
	width: 22px !important;
	padding:0px 2px 0px 2px;
	position:absolute;
	left:200px;
	top:1px;
}
.acyc-icon {
	color: #2EC7C9;
	background-color: #f3f3f3;
	width: 22px !important; 
}

.kalendar{
	float:left;
	width:220px;
	border-top-right-radius:0px!important;
	border-bottom-right-radius:0px!important;
}

.orderDiv{
	margin: 3px 20px;
	width: 100%;
}
.orderListDiv{
	width: 100%;
	margin: 10px 20px;
}

.orderDateStr{
	margin-bottom: -11px;
    position: relative;
}
.query-button{
	margin-left: 20px;
}
.unitStr{
	margin-left: 10px;
}
.ui-slider-tip{
	width: 40px!important;
}
.ui-slider-pip-selected-initial{
	color: #999!important;
}
.openEmail{
	color: #ff0000;
}
.cursor-pointer{
	cursor: pointer;
}