.company-syssafety-container{
	float:left;
	width: 100%;
	padding-left: 100px;
	height:520px;

}

.company-syssafety-photo{
	float: left;
	width: 188px;
	height: 188px;
}

.company-syssafety-content{
	float: left;
	width: 70%;
	margin-left: 79px;
	margin-top: 15px;

}

.company-syssafety-four-title{
	color: #444444;
	font-weight: bold;
}


.company-syssafety-four{
	  color: #9C9C9C;

}


.company-syssafety-content ul{
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0;
	list-style-type: none;
	width:100%;
	height:80px;
	overflow:hidden;
}

.company-syssafety-content li{
	float: left;
	height: auto;
}

.company-syssafety-content .text-content {
	width: 60%;
}

.company-syssafety-content .company-syssafety-img {
	margin-top:10px;
	margin-left:40px;
	float:left;


}

.sysponit-img{
	width: 32px;
	margin-top: -3px;
}

.company-syssafety-content .btn{
    position:relative;
	float:left;

}

.btnStylefour .syssafety-first{
	border:1px solid #CCCCCC;
	border-radius:0px;
	border-top-left-radius:3px!important;
	border-bottom-left-radius:3px!important;
}
.btnStylefour .syssafety-middle{
	border-left:1px solid transparent!important;
	border:1px solid #CCCCCC;
	border-radius:0px;
}
.btnStylefour .syssafety-last{
	border-left:1px solid transparent!important;
	border:1px solid #CCCCCC;
	border-radius:0px;
	border-top-right-radius:3px!important;
	border-bottom-right-radius:3px!important;
}

.btnStylefour .normalFourButton{
	background:#FFFFFF!important;
	color:black!important;
}

.btnStylefour .clickedFourButton{
	color:#FFFFFF!important;
	background:#49ADE1;
}

.systipshow{
	max-width:90px;
	min-width:90px;
	padding-left:8px;
	font-size:12px;
	color:#545A5F;
}