body{
	overflow-x: hidden;
}
.minback{
	height:auto;	
}

.minback .center{
	margin: 0 auto;
	text-align: center;
	width:500px;
}

.minback .form-horizontal label{
	width:110px;
}

.minback .form-horizontal .select{
	display:inline-block;
	width: 20%;
}

.minback .form-horizontal .center button{
	display:block;
	margin :0 auto;
}
.minback .form-horizontal .center>div:nth-child(1){
	margin-left:-33px;
}