.panel{
	padding: 10px;
	margin: 0 0;
	background-color:#E4F3FA;
	font-size:13px;
}

.leftDiv,.centerDiv,.rightDiv{
	background:#fff;
	position:absolute;
	top:70Px;
	bottom:10px;
	right:1
}

.centerDiv{
	width:31%;
	left:1%;
}

.rightDiv{
	width:65.5%;
	left:33.5%;
}

#selectedHeader{
	background-color:#E78C5B;
	height:40px;
	line-height:40px;
}

#selectedHeader>div{
	float :left;
}

#selectedHeader>div:nth-child(1){
	width:80%;
	margin-left:5%;
}

#selectedHeader small{
	color:#FAFAFA;
	font-size:13px;
}

#selectedFooter{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color:#A8DEFA;
	height:40px;
	line-height:40px;
	text-align:center;
}

.centerDiv .selectedList{
	position:absolute;
	background:#fff;
	top:40px;
	bottom:40px;
	left:0px;
	right:0px;
}

#selectHeader{
	background-color:#EBEBEB;
	height:40px;
	line-height:40px;
}

#selectHeader>div{
	float : left;
}

#selectHeader small{
	font-size:13px;
}

#selectHeader>div:nth-child(1){
	width:55%;
	margin-left:3%;
}

#selectHeader>div:nth-child(2){
	width:40%;
	line-height:10px;
	padding-top:3px;
}

#buttons {
	background-color:#FFFFFF;
	height:60px;
	line-height:60px;
	padding-left:1.8%;
}

#lastbutton{
	border-right:1px solid #ccc;
}

/* 按钮组按钮正常的样式 */
.normalButton{
	background : #FFFFFF;
	color : black;
}

/* 点击过后的按钮样式 */
.clickedButton{
	color : #FFFFFF!important;
}

.rightDiv .selectList{
	position:absolute;
	background:#fff;
	top:100px;
	left:0px;
	right:0px;
	bottom:40px;
}

.centerDiv #selectedHeader img{
	cursor:pointer;
}

#search{
	padding:5px 13px
}

.help-block{
	margin-bottom: -4px;
	margin-top: -3px;
	font-size:13px;
	height:30px;
}

.txt{
	margin-left: 2px;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.centerDiv .txt{
	height:46px;
}

#selectedList .parentPanel{
	padding : 10px 30px;
	position:relative;
}

#selectedList .parentPanel .checkPanel{
     position: absolute;
     top: 40%;
     right: 7%;
}

#selectedList .parentPanel:hover{
	background : #F7D2BE;
}

.star{
	margin-bottom: 3px;
}

.rightDiv .selectList .thumbnail{
	margin-left: 2%;
    float:left;
	cursor:move;
	width:31%;
}

.centerDiv .selectedList .thumbnail .repImg{
	background-size :100% auto!important;
}

.rightDiv .btn-group button{
	  color: black;
	  background-color: #FFFFFF;
	  border:1px solid #DCDCDC;
	  border-right: none;
	  font-size:12px;
}

.effect {	
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0 2px 3px #cccccc;
	border:none;
	margin-bottom:7px;
}

.normalButton:hover{
	background : #A8DEFA;
}

.data-add-dialog .modal-dialog{
	width: 730px;
}

.data-add-dialog .modal-body {
	height: 530px;
	background-color :#3B94C1;
}

.data-add-dialog .modal-header {
	background-color : #3B94C1!important;
	border-bottom:none;
}

.data-add-dialog .modal-header .close {
	margin-top: -7px;
}

.data-add-dialog .bootstrap-dialog-header{
	height:18px;
	line-height: 22px;
}
.data-add-dialog .bootstrap-dialog-title{
	font-size:13px;
}

.thumbnail{
	width:280px;
}

.thumbnail .help-block div{
	float :left;
}

.thumbnail .help-block .comment{
	width:35%;
}

.thumbnail .help-block .stars{
	width:28%;
	text-align:center;
}

.stars .fa-star,.stars .fa-star-half-o{
	color:#FF7400;
}

.thumbnail .help-block .visit{
	width:37%;
	text-align:right;
}

strong{
	color:#666666;
	font-size:13px;
}

.sortable-placeholder{
	margin:10px;
	
	height: 220px;
	border:1px dashed #027EBE;
}
.dragBgColor{
	background-color:rgb(162, 219, 162);
}