
.content {
	position: relative;
	margin: 0 auto;
	top: 100px;
	width: 970px;	
}

.content .row {
	position: relative;
	top: 20px;
	padding-top: 10px;
}

.row .flow {
	text-align: center;
}

.row .title-text {
	margin-left: 20px;
	font-size: 22px;
	text-align: center;
}

.row .form-horizontal .form-group .error-div,
.row .form-horizontal .form-group .errorMsg,
.listMsg .error-div{
	margin-left:442px;
	margin-top:10px;
	padding-left:19px;	
	border: 1px solid #eb473b;
	height: 35px;
	width:227.5px; 
	line-height: 35px;
	border-radius:4px;
	font-size: 14px;
	color:#fd6e6a;
	background: #FBDBD0;
}

.listMsg .error-div{
	margin-left: 25%; 
}
 .row .form-horizontal .form-group .userLabel{
	padding-right:27px;
	text-align:right;
	
}

.row .form-horizontal .form-group .error-div,
.listMsg .error-div 
{
	display:none;
}

.error-div .error-str{
	color:red;
}
.row .flow .step {
	display: inline-block;
}

.row .flow .line {
	margin-bottom: 34px;
	width: 200px;
	height: 5px;
	display: inline-block;
	border-radius: 15px;
	background: #838B83;
}

.row .flow .step-finish {
	margin-left: 18px;
}

.row .flow .step .message {
	color: #838B83;
}

.row  .circle {
	margin: 0 auto;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #838B83;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.row .flow .line-color {
	background: #66CD00;
}

.row .flow .circle-color {
	background: #66CD00;
}



.row .circle>span {
	color: white;
}

.row .btn-next {
	position: relative;
	margin-top:5px;
	width:65px;
	height:36px; 
}

.row .form-horizontal .form-group {
	margin-bottom: 3px;
}

.row .form-step3 {
	margin-left: -30px;
}

.row .form-horizontal .form-group .tip-step3 {
	margin-left: 453px;
	margin-bottom: 5px;
	color: #bdc3c7;
	display: block;
}

.row .form-horizontal .form-group .btn-next-step3{
	margin-top:5px;
	
}

.row .form-horizontal .form-group label:first-child,
.row ul li label:first-child{
	text-align:right;
}

.row  .listMsg {
	margin-left: 130px;
}

.row .way {
	float: left;
	text-align: center;
	cursor:pointer;
}

.row .mobile-way {
	margin-left: 320px;
}

.row .email-way {
	margin-left: 180px;
}

.row .way .circle-way {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 30px;
	background: #838B83;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.row .way .mobile-picture:hover {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: url(../img/forgetpsd.png) no-repeat -6px -6px;
}

.row .way .mobile-picture {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: url(../img/forgetpsd.png) no-repeat -126px -6px;
}

.row .way .email-picture:hover {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: url(../img/forgetpsd.png) no-repeat -246px -6px;
}

.row .way .email-picture {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: url(../img/forgetpsd.png) no-repeat -365px -6px;
}

.row .panel-success {
	margin-left: 30px;
	width: 928px;
}

.row .panel .panel-heading {
	height: 50px;
}

.row .panel .panel-heading .step4-ok {
	width: 25px;
	height: 25px;
	display: inline-block;
	background: #66CD00;
}

.row .panel .panel-heading .panel-title {
	margin-left: 20px;
	display: inline-block;
}

.row .panel .panel-body .back-mysys,.other-way {
	cursor: pointer;
}
.validate-img img{
	width: 91px;
	height: 35px;
	-moz-border-radius: 4px 4px 4px 4px;;     
    -webkit-border-radius: 4px 4px 4px 4px;;  
    border-radius:4px 4px 4px 4px; 
	background: #71B3C6;
	cursor: pointer;
}
.row ul li .validate-img{
	padding-left: 5px;
}

.row ul li .validate-number {
	width: 20%;
	display: inline-block;
}

.row ul li .code-number {
	width: 20%;
	display: inline-block;
}
.row ul li .code{
	padding-left:0px;
	height:40px;
	line-height:40px;
	
}

.row ul li .prompt-message {
	display: none;
}

.row ul li{
	margin-top:5px;
}


.tipdisplay{
	display:none;
}